@tailwind base;
@tailwind components;
@tailwind utilities;


.red {
    background: linear-gradient(to right, #DB6F6F, #F9A400);
}
.bg-blue-500 {
    background: linear-gradient(to right, #49DD81, #22B4C6);
}
.bg-green-500 {
    background: linear-gradient(to right, #39BCF8,  #6365F1);
}
.bg-yellow-500 {
    background: linear-gradient(to right, #A855F7,  #6366F1);
}
.bg-5{
    background: linear-gradient(to right, #C17ABF,  #DE5C53);
}
